body, html { height: 100%; }

body, input {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  font-size: 20pt;
}

body {
  background-color: #232323;
  color: #111111;
}

.wrapper {
  width: 1200px;
  height: 95%;
  margin:0 auto;
  background-color:#AAA;
  border-radius: 1em;
    
}

.table {
  height: calc(100% - 190px);
  width: 100%;
  line-height: 1.5em;
  overflow: none;
  background-color: rgba(30,200,30,0.5);
  border-radius: 1em;
  margin: 10px auto;
  overflow: none;
  color: red;
  
}
.player_deck{
	height: 200px;
	width: 150px;
	position: relative
	display: inline-block;
	background-color: rgba(1,1,1,.8);
	margin-right: 180px;
	margin-top: -30px;
	float: right;
	border-radius: 1em;

}
.shoe_deck{
	height: 200px;
	width: 150px;
	background-color: rgb(1, 1, 1);
	position: relative;
	margin-left: 510px;
	margin-top: -30px;
	border-radius: 1em;
}
.computer_deck{
	height: 200px;
	width: 150px;
	background-color: rgb(200, 60, 60);
	position: relative;
	margin-left: 160px;
	margin-top: -230px;
	border-radius: 1em;
}

.player_hand{
	height: 200px;
	width: 150px;
	position: relative
	display: inline-block;
	background-color: rgba(1,1,1,.8);
	margin-right: 50px;
	margin-top: 50px;
	float: right;
	border-radius: 1em;

}

.computer_hand{
	height: 200px;
	width: 150px;
	background-color: rgb(200, 60, 60);
	position: relative;
	margin-left: 280px;
	margin-top: 50px;
	border-radius: 1em;
}
.p_wr{
	position: relative;
	left: 20px;
}
.p_ta{
	position: relative;
	left: 20px;
}
.p_pde{
	font-color: white;
	position: relative;
	top: -70px;
	left: 10px;
}	
.p_cde{
	font-color: white;
	position: relative;
	top: -45px;
	left: -10px;
}
.p_sde{
	position: relative;
	top: -45px;
	left: 10px;	
}
.p_pl{
	font-color: white;
	position: relative;
	top: -70px;
	left: 10px;
}
.p_co{
	font-color: white;
	position: relative;
	top: -45px;
	left: -10px;
}
.p_bc{
	position: relative;
	left: 10px;
}
.button_cont{
	
	width: 100%;
	height: 50px;
	position: relative;
	line-height: 20pt;
	padding-top: 20px;
	background-color: rgb(30, 200, 150);
	border-radius: 1em;

}
.buttonL {
  width: 100px;
  height: 50px;
  position: relative;
  top: -85px;
  left: 400px;

  
}
.buttonR {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 400px;
  

  
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
